nav{
    line-height: 50px;
    background: brown;
    position: fixed;
    width: 100%;
}
nav ul{
    display: flex;
}
ul li{
    list-style: none;
    padding: 3px 15px;
    text-decoration: none;
}
.link:hover{
    background: blue;
    height: 10px;
    width: 24px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 80px;
}
.logo{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}
.link{
    color: #fff;
    text-decoration: none;
}
.login{
    background: blue;
    padding: 5px 14px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}
.login:hover{
    opacity: 0.7;
}

